body{
    background-attachment: fixed;
    background-position: center;
    background-image: url(https://www.walldevil.com/wallpapers/a85/backgrounds-high-resolution-blurred-background1-blur-light-blue.jpg);
}

.title{
    
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cfe6fc;
    
}

#submit{
    margin: 0 auto;
    display: block;
    width: 400px;
}

#po{
    font-size: 15px;
    text-decoration: underline;
}

#toright{
    text-align: right;
}

.tocenter{
    text-align: center;
}
